{% include 'partials/header_resume.html' %}
    <h1>SINTO LING</h1>
    <div id="startContent" class="container-fluid">
        <!-- for now, just dump my resume here -->
        <h3>HIGHLIGHT OF QUALIFICATIONS</h3>
        <ul>
            <li>Detail-Oriented & Self-Motivated</li>
            <li></li>
        </ul>
        <h3>SKILL SET</h3>
        <ul>
            <li>Data Wrangling</li>
            <li>Python & Django</li>
            <li>MySQL, SQL Server, Postgres</li>
            <li>R Programming</li>
            <li>HTML, CSS, Javascript</li>
            <li>D3.js Data Visualization</li>
            <li>Microsoft Office Suite: Word, Excel, PowerPoint, Outlook</li>
            <li>MS Windows, Ubuntu</li>
        </ul>
    </div>

{% include 'partials/footer_resume.html' %}