{% include 'partials/header_resume.html' %}
    <div id="my_name" class="d-flex justify-content-center">
        <h1>SINTO LING</h1>
    </div>
    <div id="my_title" class="d-flex justify-content-center">
        <h4>Data Specialist</h4>
    </div>
    <div id="startContent" class="container-fluid d-flex justify-content-center">
        <div class="d-flex flex-column">
            <h3>HIGHLIGHTS OF QUALIFICATION</h3><hr>
            <h3>WORK EXPERIENCE</h3><hr>
            <div id="work_exp"></div>
            <h3>TECHNICAL SKILLS</h3><hr>
            <div id="tech_skills"></div>
            <h3>EDUCATION</h3><hr>
            <div id="education"></div>
        </div>
    </div>

{% load static %}
<!-- D3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
    (function () {
            window.box_width = 800;
            window.work_exp = JSON.parse('{{ work_exp|safe }}');
            window.tech_skills = JSON.parse('{{tech_skills|safe}}');
            window.gen_skills = JSON.parse('{{gen_skills|safe}}');
            window.education = JSON.parse('{{education|safe}}');
            window.max_desc = {{max_desc}};
        }());
</script>
<script src="{% static 'scripts/resume_work_exp.js' %}"></script>
<script src="{% static 'scripts/resume_tech_skills.js' %}"></script>
<script src="{% static 'scripts/resume_education.js' %}"></script>

</body>
{% include 'partials/footer_resume.html' %}