{% include 'partials/header_resume.html' %}
    <h1>SINTO LING</h1>
    <div id="startContent" class="container-fluid">
        <div id="highlights">
            <h3>HIGHLIGHTS OF QUALIFICATION</h3>
        </div>
        <div>
            <h3>WORK EXPERIENCE</h3>
            <div id="work_exp">
            <script>
                // declarations, setup SVG
                var work_exp = JSON.parse('{{work_exp|safe}}');
                var box_width = 800;
                var svg = d3.select('#work_exp').append('svg')
                    .attr('height', 600).attr('width', 800);

                // set up groups
                var workgroup = svg.selectAll('g')
                    .data(work_exp).enter().append('g');

                // create a box for each employment
                var employer = workgroup.append('rect')
                    .attr('height', 200).attr('width', box_width)
                    .attr('fill', '#4b4b50')
                    .attr('x', 0)
                    .attr('y', function(d,i){
                        return i*210
                    });

                // job title
                var title = workgroup.append('text')
                    .style('text-anchor', 'left')
                    .attr('fill', 'white')
                    .attr('x', 10)
                    .attr('y', function(d,i){
                        return i*210+25
                    })
                    .attr('font-family', 'roboto')
                    .attr('font-size', '1.4em')
                    .text(function(d) { return d.title; });

                // company
                var company = workgroup.append('text')
                    .style('text-anchor', 'left')
                    .attr('fill', 'white')
                    .attr('x', 30)
                    .attr('y', function(d,i){
                        return i*210+50
                    })
                    .attr('font-family', 'roboto')
                    .attr('font-size', '1.0em')
                    .text(function(d) { return d.company; });

                // years worked
                var years = workgroup.append('text')
                    .style('text-anchor', 'right')
                    .attr('fill', 'white')
                    .attr('x', box_width-175)
                    .attr('y', function(d,i){
                        return i*210+25
                    })
                    .attr('font-family', 'roboto')
                    .attr('font-size', '1.1em')
                    .text(function(d) {
                        var str = d.start_month + ' ' + d.start_year + ' - ';
                        if (d.end_year == null) {str = str + 'present';}
                        else {str = str + d.end_month + ' ' + d.end_year;}
                        return str;
                    });

            </script>
            </div>
        </div>
    <script>
        // declarations, setup SVG
        var skills = JSON.parse('{{skills|safe}}');
        var svg = d3.select('#startContent').append('svg')
            .attr('height', 1000).attr('width', 500);

        // set up the groups
        var group_skills = svg.selectAll('g')
            .data(skills).enter().append('g');

        // list the skills as text
        var skill_names = group_skills.append('text')
            .attr('class', 'skill-text')
            .attr('fill', 'white')
            .style('text-anchor', 'left')
            .attr('x', 0)
            .attr('y', function(d,i) {
                return i*50 + 20
            })
            .attr('font-family', 'roboto')
            .attr('font-size', '1.1em')
            .text(function(d) { return d.name; });

        // skill bar background
        var skill_bars = group_skills.append('rect')
            .attr('class', 'bar-rect')
            .attr('rx', 10).attr('ry', 10)
            .attr('fill', 'gray')
            .attr('height', 15).attr('width', 200)
            .attr('x', 0)
            .attr('y', function(d,i) {
                return i*50 + 25
            });

        // set up experience-fill bars
        var exp_fill = group_skills.append('rect')
            .attr('class', 'exp-rect')
            .attr('rx', 10).attr('ry', 10)
            .attr('fill', 'orange')
            .attr('height', 15).attr('width', 0)
            .attr('x', 0)
            .attr('y', function(d,i) {
                return i*50 + 25
            });;

        // move the exp-fill bar after page load
        exp_fill.transition()
            .duration(1000)
            .attr('width', function(d) {
                // using 10 years as max
                if (d.year_exp > 10) {
                    return 200;
                } else {
                    return d.year_exp/10 * 200;
                }
            });
    </script>
    </div>

{% include 'partials/footer_resume.html' %}