{% include 'partials/header_resume.html' %}
    <h1>Work Experience Test Page</h1>
    <!-- now for some d3.js-->
    <div id="work_exp"></div>
    <script>
        // declarations, setup SVG
        var work_exp = JSON.parse('{{dict_we|safe}}');
        var box_width = 800;
        var box_height = 200; // change to depend on length of work_desc
        var svg = d3.select('#work_exp').append('svg')
            .attr('height', 600).attr('width', 800);

        // set up groups
        var workgroup = svg.selectAll('g')
            .data(work_exp).enter().append('g');

        // create a box for each employment
        var employer = workgroup.append('rect')
            .attr('height', 200).attr('width', box_width)
            .attr('fill', '#4b4b50')
            .attr('x', 0).attr('y', function(d,i){
                return i*210
            });

        // job title
        var title = workgroup.append('text')
            .style('text-anchor', 'left')
            .attr('fill', 'white')
            .attr('x', 10).attr('y', function(d,i){
                return i*210+25
            }).attr('font-family', 'roboto')
            .attr('font-size', '1.4em')
            .text(function(d) { return d.title; });

        // company
        var company = workgroup.append('text')
            .style('text-anchor', 'left')
            .attr('fill', 'white')
            .attr('x', 30).attr('y', function(d,i){
                return i*210+50
            }).attr('font-family', 'roboto')
            .attr('font-size', '1.0em')
            .text(function(d) { return d.company; });

        // years worked
        var years = workgroup.append('text')
            .style('text-anchor', 'right')
            .attr('fill', 'white')
            .attr('x', box_width-175).attr('y', function(d,i){
                return i*210+25
            }).attr('font-family', 'roboto')
            .attr('font-size', '1.1em')
            .text(function(d) {
                var str = d.start_month + ' ' + d.start_year + ' - ';
                if (d.end_year == null) {str = str + 'present';}
                else {str = str + d.end_month + ' ' + d.end_year;}
                return str;
            });

        var dataset = [{"id": 1, "company": "rbc", "desc": [""]},
                        {"id": 2, "company": "TD", "desc": ["desc_1", "desc_2", "desc_3", "desc_4"]}];
        var local = d3.local();
        console.log(work_exp);
        console.log(dataset);
        var test = workgroup.append("svg")
            .attr('height', box_height).attr('width', box_width-20)
            .attr('x', 0).attr('y', function(d,i) {
                return i * 170 + 40
            })
            //.selectAll("rect")
            //.data(work_exp)
            //.enter()
            .append("g")
            .selectAll("text")
            .data( function(d,i) {
                local.set(this, i)
                console.log(d.work_desc)
                return d.work_desc;
            })
            .enter()
            .append("text")
            .text( function(d,i) { return d; })
            .style('text-anchor', 'left')
            .attr("x", function(d,i) { return (i * 60) + 10; })
            .attr("y", function(d,i) { return (local.get(this) * 20) + 40; });



    </script>

    <br><br>
    <!--p>Check your work: {{dict_we}}</p-->
</body>
{% include 'partials/footer_resume.html' %}