# ignore all image files
**/djangoapps
**/djangoapps/*
**/.idea
**/.idea/*
manage.py
**/__pycache__
**/__pycache__/*
db.sqlite3
**/baseball
**/baseball/*
**/budget
**/budget/*
**/admin
**/admin/*
resume/.git
resume/.git/*
resume/.gitignore
**/udemy
**/udemy/*