{% include 'partials/header_resume.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>ABOUT ME</h1>
    </div><br>

    <div id="my_descriptions" class="d-flex justify-content-center">
        <div>
            <p>Welcome! My name is Sinto Ling. I am a data wrangler and analyst. My hobbies include:</p>
            <ul>
                <li>Softball</li>
                <li>Badminton</li>
                <li>Table Tennis</li>
                <li>Hiking</li>
                <li>Skiing</li>
                <li>Camping</li>
            </ul>

            <p>I grew up in Ajax, Ontario and attended University of Toronto and Seneca College
                in Electrical Engineering. Through one of my co-op terms, I realized that I have
                a much better grasp of working with data and analytics. Thus, upon graduation, I
                decided to switch to work in the field of data.</p>

            <p>Since 2013, for 7 years, I founded, captained and competed in an adult softball team
                called the Looney Toons. Through this team, I expanded our softball community and
                all of us became a very close knit group of friends. In 2019, I created a team
                website and have kept it members-only.</p>

            <p>In 2020, I moved to Edmonton for a few reasons. Firstly, I was in search of an
                enhanced outdoor lifestyle compared to previously - one that involves more
                adventuring, hiking and skiing in the proximity of the Rocky mountains. Secondly,
                I moved to Alberta for its lower cost of living. Thirdly, I really liked the small-
                town feel that this city gives me. Lastly, at the time of writing, I was hoping
                to land a higher paying job here.</p>
        </div>
    </div>
{% include 'partials/footer_resume.html' %}