{% include 'partials/header_resume.html' %}
    <div id="my_name" class="d-flex justify-content-center">
        <h1>SINTO LING</h1>
    </div>
    <div id="my_title" class="d-flex justify-content-center">
        <h4>Data Specialist</h4>
    </div>

    <div id="startContent" class="container-fluid d-flex justify-content-center">
        {% load static %}
        <link rel="stylesheet" href="{% static 'portfolio.css' %}">
        <!--object data="{% static 'portfolio.svg' %}"></object-->

    </div>
    <br>

{% load static %}
<!-- D3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
    (function () {
            window.all_box_width = 1030;
            window.all_box_curve = 24;
            window.work_exp = JSON.parse('{{ work_exp|safe }}');
            window.tech_skills = JSON.parse('{{tech_skills|safe}}');
            window.gen_skills = JSON.parse('{{gen_skills|safe}}');
            window.education = JSON.parse('{{education|safe}}');
            //window.qualification = JSON.parse('{{qualification|safe}}');
            window.projects = JSON.parse('{{projects|safe}}');

            // dimensions declarations shared amongst the javascript files
            window.word_wrap_cap = 95;
            window.xt = 25;  // minimum left-margin
            window.info_start = 25;
            window.info_box_height = 255;
            window.work_exp_start = info_start + 50 + info_box_height + 50;
            window.max_work_desc = {{max_work_desc}};
            window.each_work_height = max_work_desc * 30 + xt;
            window.num_work = work_exp.length;
            window.work_box_height = each_work_height * num_work + 75;
            window.project_start = work_exp_start + 50 + work_box_height + 50;
            window.num_proj = projects.length;
            window.max_proj_desc = {{max_proj_desc}};
            window.proj_height = Math.ceil(max_proj_desc / word_wrap_cap ) * 30 + 40;
            window.proj_box_height = num_proj * proj_height + 35;
            window.edu_start = project_start + 50 + proj_box_height + 50;
            window.num_edu = education.length;
            window.edu_height = 80;
            window.edu_box_height = num_edu * edu_height + 35;
            window.tech_start = edu_start + 50 + edu_box_height + 50;
            window.num_skills = Math.ceil(tech_skills.length / 4);
            window.tech_box_height = num_skills * 60 + 50;
            window.skill_height = 60;

            // set svg dimensions
            window.svg_width = 1080;
            window.svg_height = tech_start + tech_box_height + 75;
        }());
</script>
<script src="{% static 'scripts/word_wrap_function.js' %}"></script>
<script src="{% static 'scripts/resume_setup.js' %}"></script>
<script src="{% static 'scripts/resume_work_exp.js' %}"></script>
<script src="{% static 'scripts/resume_tech_skills.js' %}"></script>
<script src="{% static 'scripts/resume_education.js' %}"></script>
<!--script src="{% static 'scripts/resume_qualification.js' %}"></script-->
<script src="{% static 'scripts/resume_projects.js' %}"></script>
<script src="{% static 'scripts/resume_profile.js' %}"></script>

</body>
{% include 'partials/footer_resume.html' %}