{% include 'partials/header_resume.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>My Projects & Blogs</h1>
    </div><br>

    <style>
        .project-heading {
            width: 1260px;
        }
    </style>
    <div class="d-flex justify-content-center">
        <div class="project-heading">
            <h2>Project Pages</h2>
            <hr style="width: 1232px">
        </div>
    </div>

    <div id="my_grid" class="d-flex justify-content-center"></div>

     <div class="d-flex justify-content-center">
        <div class="project-heading">
            <h2>Personal Blogs</h2>
            <hr style="width: 1232px">
        </div>
    </div>

    <div id="my_blogs" class="d-flex justify-content-center">

    </div>

    {% load static %}
    <script src="{% static 'scripts/make_grid_function.js' %}"></script>
    <script src="{% static 'scripts/resume/grid_layout.js' %}"></script>
    <script>
        (function() {
            window.projects = JSON.parse('{{projects|safe}}');
            window.blogs = JSON.parse('{{blogs|safe}}');
            window.grid_width = 3;
            window.gridArray = makeGrid(projects.length, grid_width);
            window.projectsGrid = dataToGridArray(projects, gridArray, grid_width);
            window.blogArray = makeGrid(blogs.length, grid_width);
            window.blogsGrid = dataToGridArray(blogs, blogArray, grid_width);

            window.svg_height1 = Math.ceil(projects.length / 3) * 280;
            window.svg_height2 = Math.ceil(blogs.length / 3) * 280;
            window.svg_width = grid_width * 400 + 60;
        }());

        grid_layout("#my_grid", svg_height1, svg_width, projectsGrid);
        grid_layout("#my_blogs", svg_height2, svg_width, blogsGrid);
    </script>

{% include 'partials/footer_myprojects.html' %}