@import url(//db.onlinewebfonts.com/c/fe2027c27b6a24505f548c6fd2e1076d?family=Berlin+Sans+FB);

@font-face {
    font-family: "Berlin Sans FB"; src: url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.eot");
    src: url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.svg#Berlin Sans FB") format("svg");
}

body {
    background-color: #38383d;
    color: #eeeeee;
    font-family: 'roboto', 'sans-serif';
}

#my_title, #my_name {
    background-color: #4D4D64;
    color: #FF7C00;
}
h1 {
    margin: 0px;
}

h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0px;
}

hr {
    margin: 0px 0px 1em 0px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #EEEEEE;
    width: 800px;
}

input, select {
    background-color: #333333;
    border-color: #555555;
    color: #eeeeee;
}

.flex-grow-1{
    padding: 0px;
}

.dark-blue-text {
color: #0A38F5;
}

td, th {
    padding: 1px 4px;
}